<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RegionToShare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RegionToShare.Properties.Settings>
            <setting name="WindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="FramesPerSecond" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DrawShadowCursor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThemeColor" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="StartActivated" serializeAs="String">
                <value>False</value>
            </setting>
        </RegionToShare.Properties.Settings>
    </userSettings>
</configuration>